<!--
    AQUI VAN LAS OPCIONES DEL
    MENU VERTICAL U HORIZONTAL
-->

<h2>Paises</h2>
<hr>
 
<ul class="list-group">
    <li routerLink="HOME"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        Home Page
    </li>
    <li routerLink="ABOUT"
        routerLinkActive="active"
        class="list-group-item">
        About Page
    </li>
    <li routerLink="CONTACT"
        routerLinkActive="active"
        class="list-group-item">
        Contact Page
    </li>
</ul>
